/* Color Theme Swatches in Hex */
.Game-Design-1-hex { color: #307CBF; }
.Game-Design-2-hex { color: #4BD4F2; }
.Game-Design-3-hex { color: #D9A362; }
.Game-Design-4-hex { color: #D95407; }
.Game-Design-5-hex { color: #D92D07; }

* {
    box-sizing: border-box;
   font-family: 'Source Sans Pro', sans-serif;

}
body {
    background: #307CBF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 70%;
    text-decoration: none;
    color: #D92D07; 
    font-size: 1.5rem;
    background-color: #D9A362;
    border-radius: 15px;
    padding: .5em 1.5em;
    margin: .5em 0;
    text-align: center;
}
.btn:hover,
.btn:focus {
    background-color: #4BD4F2;
}
@media (min-width: 600px) {
    .main-container {
        width: 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .btn {
        width: 45%;
    }
}
/*  -----------------
    COLOR BOARD ----- 
    -----------------*/

.colour-board-title {
    color: #D92D07;
    text-transform: uppercase;
    align-items: center; 
    font-size: 2rem;
}
.grid {
    width: 286px;
    height: 286px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: #D92D07 solid 8px;
    border-radius: 20px;
}
.grid div {
    width: 30px;
    height: 30px;
    border: .5px solid #D95407;
}
.even {
    background-color: #D95407;
}
.odd {
    background-color: #D9A362;
}
/*  -----------------
    PACMAN BOARD ----- 
    -----------------*/
.pacman-board-body {
    background-color: #ffcdf9;
    padding: 1em 2em;

}
.pacman-board-title {
    font-size: 2rem;
    color: white;
}
.pacman-grid {
    width: 376px;
    height: 376px;
    display: flex;
    flex-wrap: wrap;
    border: white solid 8px;
    background-color: #ffcdf9;
}
.pacman-grid div {
    width: 20px;
    height: 20px;
    /* border: white solid .5px */
}

.one {
    background-color:#6eb5ff;
}
.two {
    background-color: #ffabab;
    border-radius: 15px;
}
.three {
    background-color: white;
    border: 5px solid #ffcdf9;
}
.four {
    background-color: #ffcdf9;
}
.five {
    background-color: #ff0000;
}
.six{
    background-color: #fec0cb;
}
.seven {
    background-color: #07ffff;
}
.eight {
    background-color: #ffa500;
}
.nine {
    background-color: #feff00;
    border-radius: 15px;
}